.checkout-page {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 30px;
    padding: 30px;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-image {
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 8px;
}

.product-info {
    padding: 25px 50px;
}

.product-info h3 {
    margin-bottom: 10px;
}

.product-info p {
    margin: 5px 0;
}

.product-controls {
    background-color: #1900ff1a;
    padding: 20px;
    border-radius: 8px;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-controls span {
    font-size: 20px;
    padding: 0 10px;
}

.quantity-controls button {
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid var(--primary);
    background-color: transparent;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 22px;
}

.coupon {
    display: flex;
}

.coupon input {
    padding: 12px;
    margin-right: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.coupon button {
    padding: 0px 10px;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
}

.discount-text {
    margin-top: 10px;
    color: red;
}

.total h3 {
    margin-top: 20px;
}

.checkout-btn {
    padding: 15px;
    margin-top: 20px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.checkout-btn:hover {
    background-color: var(--primary);
}

.rating-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 22px;
    color: #f1c32c;
    padding: 10px 0 40px 0;
}
