.checkout-container {
    background: var(--primary);
    padding: 35px;
    border-radius: 12px;
    color: white;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    gap: 25px;
    position: relative;
}

.checkout-container h1,
.checkout-container h3 {
    margin: 10px 0;
}

.session-expiry {
    color: gray;
}

.payment-methods,
.payment-details {
    margin-top: 20px;
}

.card-secondary {
    display: flex;
    gap: 10px;
}

.order-summary {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #aaa;
    margin: 20px;
}

.product-dts {
    display: flex;
    align-items: center;
    gap: 0px;
}

.product-dts img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: bold;
}

.product-size {
    color: gray;
}

.coupon-section {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 1fr;
    margin-top: 10px;
}

.coupon-section input {
    padding: 12px;
    margin-right: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.apply-btn {
    width: 100%;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}

.pricing {
    margin-top: 30px;
}

.price-item {
    display: flex;
    justify-content: space-between;
    margin: 3px 0;
}

.total-amount {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.previous-btn {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 16px;

}

.cash-on, .payment-details {
    background-color: #442792;
    padding: 15px 25px;
    border-radius: 10px;
    width: calc(100% - 40px);
}

.payment-details input[type="text"] {
    width: calc(100% - 24px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
}

.pay-now {
    background-color: white;
    border: none;
    padding: 7px 20px;
    border-radius: 8px;
    position: absolute;
    right: 60px;
    bottom: 75px;
    font-size: 16px;
}