.products {
    margin-top: 70px;
}

.products h2 {
    text-align: center;
    font-size: 36px;
    margin: 35px 0;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 10px;
}

.product {
    text-align: center;
}

.product a {
    text-decoration: none;
    color: white;
}